<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS157A Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home_page')}}">
                <img src="{{ url_for('static', filename='SJSULogo.png') }}" height="45" width="95" alt="SJSULogo"
                    loading="lazy" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="nav-link" href="{{url_for('search_by_category_page')}}">Search By Genre</a>
                    </li>
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="nav-link" href="{{url_for('best_sellers_page')}}">Best Sellers</a>
                    </li>
                    <li class="nav-item d-flex align-items-center" style="width: 80%; margin-right: 5px;">
                        <form class="d-flex" role="search" action="" method="POST" style="width: 100%;" onsubmit="updateSearchAction()">
                            <input class="form-control me-2" type="search" placeholder="Search Book Title" aria-label="Search" name="search_input" id="search_input">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                        
                        <script>
                            function updateSearchAction() {
                                const searchInput = document.getElementById("search_input").value;
                                const form = document.querySelector('form');
                                form.action = `/search-books/${encodeURIComponent(searchInput)}`;
                            }
                        </script>
                    </li>
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="nav-link" href="{{url_for('advanced_search_page')}}">Advanced Search</a>
                    </li>
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="nav-link" href="{{url_for('all_books_page')}}">All Books</a>
                    </li>
                </ul>
               {% if g.authenticated %}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">{{g.user_first_name}} </button >
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="{{url_for('user_profile_page')}}">User Profile</a></li>
                            {% if g.admin %}
                                <li><a class="dropdown-item" href="{{url_for('request_google_books_api')}}">Add Books</a></li>
                                <li><a class="dropdown-item" href="{{url_for('librarian_view_page')}}">Librarian View</a></li>
                            {% endif %}

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{url_for('logout')}}" style="color: red;">Logout</a></li>
                        </ul>
                    </div>
               {% else %}
                    <div class="d-flex align-items-center">
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{{url_for('login_page')}}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
               {% endif %}
                
            </div>

        </div>
    </nav>
    <!-- Navbar -->
    <!-- X Page Data -->
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>