{% extends "Navbar.html" %}

{% block content %}

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h1 class="mb-3 text-center">
                        Your Profile {% if g.admin %} [ADMIN] {% else %} [User] {% endif %}
                    </h1>
                    <div class="row">
                        <div class="col-md-6">
                            <p>ID: {{userInformation.user_id}}</p>
                            <p>Name: {{userInformation.first_name}} {{userInformation.last_name}}</p>
                            <p>Email: {{userInformation.email}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"> Password </h4>
                                <form>
                                    <div class="form-group">
                                        <label for="password">Current Password:</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                                            name="password">
                                    </div>
    
                                    <div class="form-group">
                                        <label for="password">NEW Password:</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                                            name="password">
                                    </div>
                                    <br/>
                                    <button type="button" class="btn btn-success">Update Password</button>
                                </form>

                        </div>
                        <div class="col-lg-12 order-lg-1 text-center">
                            <h1 class="mt-2 text-center"><span class="fa fa-clock-o ion-clock float-right">Recent Activity</h1>
                            <table class="table table-sm table-hover table-striped" style="width: 100%;">
                                <tbody>                                    
                                    {% for x in range(10) %}
                                        <tr>
                                            <td>
                                                <strong>[Checked-Out]</strong> Harry Potter The {{x}} Book</strong>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                
            </div>
        </div>
        <div class="col-lg-12 order-lg-1">
            <h1 class="mt-2">Read Later</h1>
            <table border="1" id="read_later_table">
                <thead>
                    <tr align="center">
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th></th>
                    </tr>
                </thead>
                <style>
                    table {
                        width: 100%;
                        border-collapse: collapse;
                    }
                
                    th, td {
                        border: 1px solid #ccc;
                        padding: 8px;
                        text-align: left;
                    }
                
                    /* Style the table header */
                    th {
                        background-color: #f2f2f2;
                    }
                
                    /* Truncate the text in table cells */
                    .truncate {
                        max-width: 200px; /* Adjust the width as needed */
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                </style>
                
                <tbody>
                    {% for book in read_later_list %}
                    {% set book_isbn = book['ISBN']%}
                    <tr id="table_row_{{book_isbn}}">
                        <td class="truncate">
                            <a href="{{url_for('get_book_api', isbn_value=book_isbn)}}" id="{{book_isbn}}">
                                {{ book_isbn }}
                            </a>
                        </td>
                        <td class="truncate">{{ book['name'] }}</td>
                        <td class="truncate">{{ book['date_added'] }}</td>
                        <td class="truncate text-center">
                            <form id="remove_read_later_{{ book_isbn }}" method="POST">
                                <input type="hidden" name="book_isbn" value="{{ book_isbn }}">
                                <button type="submit" class="btn btn-danger" data-form-id="{{ book_isbn }}" style="margin-right: 10px;">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table> 
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("form[id^='remove_read_later_']").on("submit", function (event) {
                event.preventDefault();
                var form = $(this);
                var rowId = form.attr('id').replace("remove_read_later_","")
                $.ajax({
                    url: "{{url_for('remove_read_later_api')}}",
                    type: "POST",
                    data: form.serialize(),
                    success: function (response) {
                       if(response.REMOVE_RESPONSE === true){ 
                            $(`table#read_later_table tr#table_row_${rowId}`).remove();
                        }
                        else{
                            alert("Unable to remove, try refreshing the page")
                        }
                    },
                    error: function (error) {
                        console.log("read later ajax error:", error);
                    }
                });
            });
        });
    </script>
</div>

{% endblock %}